.page {
  margin: 0;
  font-size: 1.6rem;
  background-color: pink;
}

.turn-plate {
  width: max-content;
  margin: 0 auto;
}

.board-area {
  display: grid;
  grid-auto-flow: column;
  place-items: center;

  --gap-size: 0.2rem;
  --cell-size: 2rem;
}

.board-area__one-half {
  display: grid;
  grid-template-areas:
    'title     title'
    '......... col-index'
    'row-index gameboard';
}

.board-area__title {
  grid-area: title;
  text-align: center;
}

.board-area__col-index,
.board-area__row-index {
  display: grid;
  gap: var(--gap-size);
  font-size: calc(0.6 * var(--cell-size));
  font-weight: bold;
}

.board-area__col-index {
  grid-area: col-index;
  padding-bottom: var(--gap-size);
  grid-auto-columns: var(--cell-size);
  grid-auto-flow: column;
  text-align: center;
}

.board-area__row-index {
  grid-area: row-index;
  align-items: center;
  padding-right: var(--gap-size);
  grid-auto-rows: var(--cell-size);
  text-align: right;
}

.board-area__gameboard {
  grid-area: gameboard;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size));
  grid-auto-rows: var(--cell-size);
  gap: var(--gap-size);
}

.gameboard__cell {
  background-color: blue;
}
